ul {
  list-style-type: none;
}

ul li.directory::before {
  content: "";
  background-image: url("/public/images/directory.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
}

ul li.file::before {
  content: "";
  background-image: url("/public/images/file.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
}
